<!DOCTYPE html>
<html lang="en">
<head>
    <title>account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <meta charset="UTF-8">

</head>
<body>
<form method="post">
    <section class="section">
        <div class="container" >
            <div class="title">Hello, {{name}}</div>
            <p class="subtitle">You have {{balance}} gotubl</p>
            <input class="button" type=submit name="transactions" value="transactions">
            <input class="button" type=submit name="log_out" value="log out">
        </div>

    </section>
</form>
</body>
</html>