<!DOCTYPE html>
<head>
  <title>registration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
</head>
<body class="container" style="align:center">
<form  method="post">
  <section class="section">
    <div class="container" style="width:35%; background-color:#ffd6f0; border-radius: 15px; padding:10px">
      <div class="title">Registration</div>
      <h1 class="subtitle">{{error}}</h1>
      <label class="checkbox">
        <input type="checkbox" name="check">
        Registrate as a project
      </label>
      <div class="container">
        <input class="input" type=text placeholder="login" name="username">
        <input class="input" type="password" placeholder="password" name="password">
      </div>
      <input class="button is-medium" type=submit value=registrate>
<p><a class="subtitle "  href="{{ url_for('.loginn') }}">Login</a></p>
</div></section></form></body>