<!DOCTYPE html>
<html lang="en">
<head>
    <title>transactions</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
</head>
<body>
<form method="post">
    <section class="section">
        <div class="container">
            <h1 class="subtitle">{{error}}</h1>
            <div class="container">
                <div class="subtitle">Send money to someone</div>
                <input class="input" type="text" placeholder="to" name="to">
                <input class="input" type="text" placeholder="amount" name="amount">
                <input class="input" type="text" placeholder="comment" name="comment">
                <input class="button" type="submit" value="send">
            </div>
        </div>
    </section>
</form>
</body>
</html>